/*
    Orange color: #E67E22
*/

/*-----------------------------------------------*/
/* --------------- Basic Setup ------------------*/
/*-----------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    background-color: #FFF;
    color: #555;
    font-family: 'Lato', 'Árial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
} /* establece un clear para los floats */


/*------------------------------------------------------*/
/*-------------------- Reusable Code---------------------*/
/*------------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0; /* Este padding genera ESPACIO EN BLANCO para separar los elementos*/
}

.box { /* Columnas de Section 1 Features */
    padding: 1%; /* separacion entre las columnas */
}


/*------------------------------------------------------*/
/* ---------------- Headings / Titles ----------------- */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase; /* transforma el texto a mayusculas */
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #FFF;
    font-size: 240%; /* establece que el tamaño del texto sera un 240% en relacion al tamaño establecido en {html} (20px)*/
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after { /* Esta pseudoclase crea un elemento despues del h2 (una barra naranja) */
    display: block; /* especifica el tipo de elemento a crear */
    height: 2px; /* altura de la barra */
    background-color: #E67E22; /* color de fondo de la barra*/
    content: ""; /* contenido VACIO*/
    width: 100px; /* ancho */
    margin: 0 auto; /* centrar elemento */
    margin-top: 30px; /* Separacion del elemento con el elemento que tiene encima */
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/*------------------------------------------------------*/
/* -------------------- Paragraphs -------------------- */

.long-copy { /* Texto principal de la Section 1 Features */
    line-height: 145%; /* separacion entre líneas (altura entre oraciones) */
    width: 70%; /* este parrafo reduce su longitud en un 30% para evitar que sea largo*/
    margin-left: 15%; /* al establecer un 15% de espacio de margen a ambos lados, queda centrado el elemento ya que el espacio que ocupa es 70%*/
    margin-right: 15%;
}

.box p { /* Parrafos de las columnas de la Section 1 Features */
    font-size: 90%; /* tamaño del texto de los parrafos */
    line-height: 145%; /* separacion entre lineas (espaciado vertical entre oraciones)*/
}

/*------------------------------------------------------*/
/* --------------------- Icons ------------------------ */

.icon-big { /* Section 1 Features */
    font-size: 350%; /* establezo el tamaño de los icons */
    display: block; /* fuerzo un linea-break */
    color: #E67E22;
    margin-bottom: 10px;
    /*text-align: center; esta propiedad centraria los ICONS*/ 
}

.icon-small { /* clase asignada a los icon de la section 4 cities */
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #E67E22;
    font-size: 120%; /* tamaño de los icons */
    margin-right: 10px;
    line-height: 120%; /* alinear icons y texto */
    vertical-align: middle; /* alinear icons y texto */
    margin-top: -5px;/* el margin negativo sube el elemento 2 pixeles por encima */
}

/*------------------------------------------------------*/
/* ---------------------- Links ----------------------- */

a:link,
a:visited {
    color: #E67E22;
    text-decoration: none;
    border-bottom: 1px solid #E67E22;
    padding-bottom:1px;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/*------------------------------------------------------*/
/* --------------------- Buttons ---------------------- */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block; /* transforma ambos botones en un elemento en línea con propiedades de bloque (padding y margin)*/
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none; /* elimina el subrayado y el color azul caracteristico de los hipervinculos. */
    border-radius: 200px; /* redondea los bordes del boton */
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s; /* Propiedad que realizar una transicion en 0.2 segundos de las propiedades                                                                         asignadas (color de fondo, borde y color del texto).*/
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #E67E22;
    border: 1px solid #E67E22;
    color: #FFF;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #E67E22;
    color: #E67E22;
}

.btn:hover, /* hover es el estado del link (botón) cuando fue visitado */
.btn:active,
input[type=submit]:hover,
input[type=submit]:active { /* active es el estado del boton cuando le hago click */
    background-color: #CF6D17; /* el boton oscurece su color a #CF6D17 cuando se posiciona el mouse encima */
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #CF6D17; /* el borde del boton tambien cambia su color */
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #CF6D17;
    color: #FFF; /* en este boton el color del texto tambien debe cambiar para verse blanco */
}


/* -------------------------------------------------------------- */
/* ----------------------- Section 0 Header --------------------- */

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url('img/hero.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/hero.jpg');
    background-size: cover; /* El fondo cubre la totalidad del elemento que lo contiene */
    background-position: center; /* Mantiene siempre el fondo centrado */
    height: 100vh; /* Establece la altura del contenedor {header} para que sea del 100% del viewport*/
    background-attachment: fixed;  /* Efecto: el fondo queda pegado y no se mueve con el scroll */
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px; /* Establece un tamaño para la imagen del logo */
    width: auto;
    float: left; /* Establece la posicion flotante del logo arriba a la izquierda */
    margin-top: 20px;
}

.logo-black { /* oculto el logo negro */
    display: none;
    height: 50px; /* Establece un tamaño para la imagen del logo */
    width: auto;
    float: left; /* Establece la posicion flotante del logo arriba a la izquierda */
    margin: 5px 0;
}

/* ---------------------------------------------------- */
/* ----------------- Navigation Bar (UL) ---------------*/

.main-nav {
    float: right; /* Establece la posicion flotante de los botones en la barra de navegacion a la derecha */
    list-style: none; /* Elimina los puntos de las listas desordenadas */
    margin-top: 55px;
}

.main-nav li {
    display: inline-block; /* Establece los list items como elementos en linea con propiedad de elemento en bloque para agregar un margin */
    margin-left: 40px; /* Establece un margen izquierdo a cada uno los de list items para separarlos. */
}

/* ---------------------------------------------------- */
/* ------------------ NavBar Buttons ------------------ */

.main-nav li a:link, 
.main-nav li a:visited {
    padding: 8px 0;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent; /* subrayado TRANSPARENTE que no es visible */
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s; /* establece la transicion de border-bottom invisible a color en 0.2 segundos */
}

.main-nav li a:hover, 
.main-nav li a:active {
    border-bottom: 2px solid #E67E22; /* este borde existe de antemano sobre los links en el estado "link" y "visited" */
}

/* ---------------------------------------------------- */
/* ------------------- Sticky NavBar ------------------ */

/*------- Se controla mediante jQuery -------*/

.sticky { /* barra de navegacion fija que aparece luego de la seccion 1 */
    position: fixed;
    top: 0; /* ubicacion de la barra */
    left: 0;
    width: 100%; /* tamaño de la barra */
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 10;
}

.sticky .main-nav {
    margin-top: 18px;
}

.sticky .main-nav li a:link, 
.sticky .main-nav li a:visited { /* modifico los valores para que la barra se vea bien */
    padding: 16px 0;
    color: #555;
}

.sticky .logo {
    display: none;
}

.sticky .logo-black {
    display: block;
}


/*--------------------------------------------------------------*/
/* -------------------- Section 1 Features -------------------- */

.section-features .long-copy {
    margin-bottom: 30px; /* separacion entre el parrafo de la section 1 y las columnas debajo */
}

/* ----------------------------------------------------------- */
/* --------------------- Section 2 Meals --------------------- */

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none; /*IMPORTANTE para quitar los bullet points de la lista*/
    width: 100%; /* establece que el ancho de la UL sea del 100% del ancho de pagina disponible */
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo { /* clase asignada a los figure en la UL*/
    width: 100%; /* este ancho es un 100% del ancho que tiene asignado por medio de su elemento padre que es ".meals showcase LI" */
    margin: 0;
    overflow: hidden; /* oculta la parte de la imagen que sobresale del contendor (propiedad transform: scale mas abajo)*/
    background-color: #000; /* esta propiedad se combina con la opacity de la imagen para crear un efecto */
}

.meal-photo img {
    opacity: 0.7; /* establece opacidad del 70% para que quede a trasluz el fondo negro de ".meal-photo" */
    width: 100%; /* establece un ancho del 100% del contenedor padre (100% de "figure .meal-photo") */
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15); /* propiedad que escala la imagen a un 115% de su tamaño original, se debe ajustar con "OVERFLOW: hidden" */
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
    opacity: 1; /* la opacidad vuelve a ser 1 cuando coloco el cursor sobre la imagen, por lo tanto veo la imagen tapando el fondo negro */
    -webkit-transform: scale(1.03);
    transform: scale(1.03); /* regresa la imagen a su tamaño original para crear el efecto cuando posiciono el cursor encima */
}

/* ----------------------------------------------------------- */
/* --------------------- Section 3 Steps --------------------- */

.section-steps {
    background-color: #F4F4F4; /* color de fondo para crear un separador sutil de la sección */
}

.steps-box:first-child { /* selecciono el primer hijo que surge de la clase steps-box (es decir, la caja que contiene la imagen)*/
    text-align: right; /* alineo la imagen a la derecha del contenedor*/
    padding-right: 3%; /* establece que el espacio entre la imagen y el borde derecho es de un 3% del tamaño total del contenedor */
    margin-top: 30px;
}

.steps-box:last-child { /* selecciona el ultimo hijo que contiene la clase steps-box (es decir la caja que contiene los 3 pasos)*/
    padding-left: 3%; /* establece un espacio del 3% del total del contenedor a la izquierda */
    margin-top: 70px;
}

.app-screen {
    width: 40%; /* tamaño de la imagen */
}

.works-step {
    margin-bottom: 50px; /* separa cada uno de los contenedores de los pasos */
}

.works-step:last-of-type { /* selecciona el ultimo elemento en tener la clase .works-step */
    margin-bottom: 80px;
}

.works-step div { /* el div que contiene los numeros de los pasos */
    color: #E67E22;
    border: 2px solid #E67E22;
    display: inline-block; /* establece que el elemento no fuerce un line-break y podemos posicion el texto a su lado */
    border-radius: 50%; /* crea un borde circular */
    height: 55px; /* establece altura de 50px y al ser un circulo, el width tambien debe ser 50px */
    width: 55px;
    text-align: center; /* centra el número */
    padding: 5px;
    float: left; /* establece que el texto se posicione a la derecha del número */
    font-size: 150%;
    margin-right: 25px; /* separa el texto a su derecha 25px */
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img { /* selecciona las imagenes (de los botones) para descargar la app */
    height: 50px; /* establece la misma altura a ambas imagenes */
    width: auto;
    margin-right: 10px; /* separa los botones */
}

/* --------------- Section 4 Cities Version Mía -------------- */
/* ------------------------------------------------------------------------- 

.section-cities {
    height: 100vh;
}

.cities-showcase {
    list-style: none;
    width: 100%;
}

.cities-showcase li {
    display: block;
    width: 25%;
    float: left;
}

.cities-showcase li figure {
    width: 100%;
    margin: 0;
}

.cities-showcase li figure img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.cities-showcase li figure p {
    text-align: center;
} */
/* ----------------------------------------------------------- */
/* -------------------- Section 4 Cities --------------------- */

.box img { /* selecciono las imagenes dentro de los elementos con clase "box" */
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature { /* div que contiene icons y texto */
    margin-bottom: 5px;
}

/* ----------------------------------------------------------- */
/* ----------------- Section 5 Testimonials ------------------ */

.section-testimonials { /* Agrego fondo con lineargradient para agregarle una capa oscura */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #FFF; /* Color de texto */
    background-attachment: fixed; /* Efecto: el fondo queda pegado y no se mueve con el scroll */
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%; /* Separacion entre lineas */
    position: relative;
    margin-top: 40px;
}

blockquote:before { /* crea un elemento antes del elemento blockquote */
    content: "\201C"; /* glyph code para las comillas dobles */
    font-size: 500%;
    display: block; /* ocupa todo el width disponible */
    position: absolute; /* lo posiciono en forma absoluta y le asigno a su elemento padre (blockquote) la posicion relativa */
    top: -5px;
    left: -5px;

}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px; 
    vertical-align: middle; /* centro verticalmente la imagen al centro para que coincida con el texto */
}

/* ----------------------------------------------------------- */
/* ----------------- Section 6 Sign up plans ----------------- */

.section-plans {
    background-color: #F4F4F4;
}

.plan-box {
    background-color: #FFF;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef; /* X Y BLUR COLOR*/
}

.plan-box div { /* seleciono el div que contiene las 3 partes de cada columna */
    padding: 15px;
    border-bottom: 1px solid #E8E8E8;
}

.plan-box div:last-child { /* selecciona el ultimo elemento hijo del contenedor, en este caso es el div que contiene los botones */
    text-align: center;
    border: none;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #E67E22;
}

.plan-price span { /* selecciono el texto dentro del titulo que dice "/ month" y/o "/ meal" */
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/* ----------------------------------------------------------- */
/* ----------------- Section 7 Contact Form ------------------ */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text], /* selecciona unicamente los input con type="text" y type="email"*/
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {  /* selecciona todos los elementos y quita el focus que añade chrome a los campos del formulario */
    outline: none;
}

/* ----------------------------------------------------------- */
/* -------------------------- Footer ------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child { /* elimino el margin-right de el ultimo link/icon para que no se separe del contenedor */
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}