/*
    Orange color: #E67E22
*/

/*-----------------------------------------------*/
/* --------------- Basic Setup ------------------*/
/*-----------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #FFF;
    color: #555;
    font-family: 'Lato', 'Árial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
} /* establece un clear para los floats */


/*------------------------------------------------------*/
/*-------------------- Reusable Code---------------------*/
/*------------------------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0; /* Este padding genera ESPACIO EN BLANCO para separar los elementos*/
}

.box { /* Columnas de Section 1 Features */
    padding: 1%; /* separacion entre las columnas */
}


/*------------------------------------------------------*/
/* ---------------- Headings / Titles ----------------- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase; /* transforma el texto a mayusculas */
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #FFF;
    font-size: 240%; /* establece que el tamaño del texto sera un 240% en relacion al tamaño establecido en {html} (20px)*/
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after { /* Esta pseudoclase crea un elemento despues del h2 (una barra naranja) */
    display: block; /* especifica el tipo de elemento a crear */
    height: 2px; /* altura de la barra */
    background-color: #E67E22; /* color de fondo de la barra*/
    content: ""; /* contenido VACIO*/
    width: 100px; /* ancho */
    margin: 0 auto; /* centrar elemento */
    margin-top: 30px; /* Separacion del elemento con el elemento que tiene encima */
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/*------------------------------------------------------*/
/* -------------------- Paragraphs -------------------- */

.long-copy { /* Texto principal de la Section 1 Features */
    line-height: 145%; /* separacion entre líneas (altura entre oraciones) */
    width: 70%; /* este parrafo reduce su longitud en un 30% para evitar que sea largo*/
    margin-left: 15%; /* al establecer un 15% de espacio de margen a ambos lados, queda centrado el elemento ya que el espacio que ocupa es 70%*/
    margin-right: 15%;
}

.box p { /* Parrafos de las columnas de la Section 1 Features */
    font-size: 90%; /* tamaño del texto de los parrafos */
    line-height: 145%; /* separacion entre lineas (espaciado vertical entre oraciones)*/
}

/*------------------------------------------------------*/
/* --------------------- Icons ------------------------ */

.icon-big { /* Section 1 Features */
    font-size: 350%; /* establezo el tamaño de los icons */
    display: block; /* fuerzo un linea-break */
    color: #E67E22;
    margin-bottom: 10px;
    /*text-align: center; esta propiedad centraria los ICONS*/ 
}

/*------------------------------------------------------*/
/* --------------------- Buttons ---------------------- */

.btn:link,
.btn:visited {
    display: inline-block; /* transforma ambos botones en un elemento en línea con propiedades de bloque (padding y margin)*/
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none; /* elimina el subrayado y el color azul caracteristico de los hipervinculos. */
    border-radius: 200px; /* redondea los bordes del boton */
    transition: background-color 0.2s, border 0.2s, color 0.2s; /* Propiedad que realizar una transicion en 0.2 segundos de las propiedades                                                                         asignadas (color de fondo, borde y color del texto).*/
}

.btn-full:link,
.btn-full:visited {
    background-color: #E67E22;
    border: 1px solid #E67E22;
    color: #FFF;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #E67E22;
    color: #E67E22;
}

.btn:hover, /* hover es el estado del link (botón) cuando fue visitado */
.btn:active { /* active es el estado del boton cuando le hago click */
    background-color: #CF6D17; /* el boton oscurece su color a #CF6D17 cuando se posiciona el mouse encima */
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #CF6D17; /* el borde del boton tambien cambia su color */
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #CF6D17;
    color: #FFF; /* en este boton el color del texto tambien debe cambiar para verse blanco */
}


/* ---------------------------------------------------- */
/* ----------------------- Header --------------------- */
/* ---------------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/hero.jpg');
    background-size: cover; /* El fondo cubre la totalidad del elemento que lo contiene */
    background-position: center; /* Mantiene siempre el fondo centrado */
    height: 100vh; /* Establece la altura del contenedor {header} para que sea del 100% del viewport*/
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px; /* Establece un tamaño para la imagen del logo */
    width: auto;
    float: left; /* Establece la posicion flotante del logo arriba a la izquierda */
    margin-top: 20px;
}


/* ---------------------------------------------------- */
/* ----------------- Navigation Bar (UL) ---------------*/
/* ---------------------------------------------------- */

.main-nav {
    float: right; /* Establece la posicion flotante de los botones en la barra de navegacion a la derecha */
    list-style: none; /* Elimina los puntos de las listas desordenadas */
    margin-top: 55px;
}

.main-nav li {
    display: inline-block; /* Establece los list items como elementos en linea con propiedad de elemento en bloque para agregar un margin */
    margin-left: 40px; /* Establece un margen izquierdo a cada uno los de list items para separarlos. */
}

/* ---------------------------------------------------- */
/* ------------------ NavBar Buttons ------------------ */

.main-nav li a:link, 
.main-nav li a:visited {
    padding: 8px 0;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent; /* subrayado TRANSPARENTE que no es visible */
    transition: border-bottom 0.2s; /* establece la transicion de border-bottom invisible a color en 0.2 segundos */
}

.main-nav li a:hover, 
.main-nav li a:active {
    border-bottom: 2px solid #E67E22; /* este borde existe de antemano sobre los links en el estado "link" y "visited" */
}

/*--------------------------------------------------------------*/
/* -------------------- Section 1 Features -------------------- */

.section-features .long-copy {
    margin-bottom: 30px; /* separacion entre el parrafo de la section 1 y las columnas debajo */
}

/* ----------------------------------------------------------- */
/* --------------------- Section 2 Meals --------------------- */

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none; /*IMPORTANTE para quitar los bullet points de la lista*/
    width: 100%; /* establece que el ancho de la UL sea del 100% del ancho de pagina disponible */
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo { /* clase asignada a los figure en la UL*/
    width: 100%; /* este ancho es un 100% del ancho que tiene asignado por medio de su elemento padre que es ".meals showcase LI" */
    margin: 0;
    overflow: hidden; /* oculta la parte de la imagen que sobresale del contendor (propiedad transform: scale mas abajo)*/
    background-color: #000; /* esta propiedad se combina con la opacity de la imagen para crear un efecto */
}

.meal-photo img {
    opacity: 0.7; /* establece opacidad del 70% para que quede a trasluz el fondo negro de ".meal-photo" */
    width: 100%; /* establece un ancho del 100% del contenedor padre (100% de "figure .meal-photo") */
    height: auto;
    transform: scale(1.15); /* propiedad que escala la imagen a un 115% de su tamaño original, se debe ajustar con "OVERFLOW: hidden" */
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    opacity: 1; /* la opacidad vuelve a ser 1 cuando coloco el cursor sobre la imagen, por lo tanto veo la imagen tapando el fondo negro */
    transform: scale(1.03); /* regresa la imagen a su tamaño original para crear el efecto cuando posiciono el cursor encima */
}

/* ----------------------------------------------------------- */
/* --------------------- Section 3 Steps --------------------- */

.section-steps {
    background-color: #F4F4F4; /* color de fondo para crear un separador sutil de la sección */
}

.steps-box:first-child { /* selecciono el primer hijo que surge de la clase steps-box (es decir, la caja que contiene la imagen)*/
    text-align: right; /* alineo la imagen a la derecha del contenedor*/
    padding-right: 3%; /* establece que el espacio entre la imagen y el borde derecho es de un 3% del tamaño total del contenedor */
    margin-top: 30px;
}

.steps-box:last-child { /* selecciona el ultimo hijo que contiene la clase steps-box (es decir la caja que contiene los 3 pasos)*/
    padding-left: 3%; /* establece un espacio del 3% del total del contenedor a la izquierda */
    margin-top: 70px;
}

.app-screen {
    width: 40%; /* tamaño de la imagen */
}

.works-step {
    margin-bottom: 50px; /* separa cada uno de los contenedores de los pasos */
}

.works-step:last-of-type { /* selecciona el ultimo elemento en tener la clase .works-step */
    margin-bottom: 80px;
}

.works-step div { /* el div que contiene los numeros de los pasos */
    color: #E67E22;
    border: 2px solid #E67E22;
    display: inline-block; /* establece que el elemento no fuerce un line-break y podemos posicion el texto a su lado */
    border-radius: 50%; /* crea un borde circular */
    height: 55px; /* establece altura de 50px y al ser un circulo, el width tambien debe ser 50px */
    width: 55px;
    text-align: center; /* centra el número */
    padding: 5px;
    float: left; /* establece que el texto se posicione a la derecha del número */
    font-size: 150%;
    margin-right: 25px; /* separa el texto a su derecha 25px */
}

.btn-app img { /* selecciona las imagenes (de los botones) para descargar la app */
    height: 50px; /* establece la misma altura a ambas imagenes */
    width: auto;
    margin-right: 10px; /* separa los botones */
}











